<!DOCTYPE html>
<html>
  <head>
    <title>RailsKadai</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
    <h1 class="headline">
      <a>サンプルのサイト</a>
    </h1>
  </header>
    <%= yield %>
  <footer>
    <p>20220411</p>    
  </footer>
  </body>
</html>
