<!DOCTYPE html>
<html>
  <head>
    <title>RailsKadai</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
    <header>
    <h1>
      <%= image_tag 'icon.png', :size => '40x30' %>
      <a>ホーム</a>
    </h1>
  </header>
    <%= yield %>
  <footer class="footer">
    <p>20220411</p>
  </footer>
  </div>
  </body>
</html>
